@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-primary: "black";
  --color-secondary: "red";
}

html,
body,
#__next {
  height: 100%;
  @apply bg-white;
}

.btn {
  @apply disabled:cursor-not-allowed disabled:opacity-50 inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-brand-primary text-base font-medium text-white hover:bg-brand-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-brand-primary sm:text-sm;
}

body {
  margin: 0;
}

